---
import { Image } from "astro:assets"
import bizLogo from "../../media/images/website/biz-logo.svg"
---
<div class="w-[116px] h-full">
    <Image
        class="absolute top-6"
        src={bizLogo}
        alt="BİZ24 Logo"
    />
</div>