---
import { Image } from "astro:assets"
import tubitLogo from "../../media/images/website/tubit-logo.svg"

import Biz24Logo from "./Biz24Logo.astro"
import NavListItem from "./NavListItem.astro"
import NavHamburgerMenu from "./NavHamburgerMenu.astro"
import NavHamburgerOpenBtn from "./NavHamburgerOpenBtn.astro"
---
<nav class="relative flex flex-col bg-zinc-500 bg-opacity-5">
    <div class="flex items-center justify-between px-8 py-6">
        <Biz24Logo />
        <div class="hidden lg:block">
            <ul>
                <NavListItem name="Duyurular" href="#duyurular"/>
                <NavListItem name="Önceki Etkinlikler" href="#etkinlikler"/>
                <NavListItem name="Hakkında" href="#biz24"/>
                <NavListItem name="Ekibimiz" href="#ekibimiz"/>
                <NavListItem name="Sponsorlar" href="#sponsorlar"/>
            </ul>
        </div>
        <a class="hidden shrink-0 lg:block" href="https://tubit.trakya.edu.tr" target="_blank" rel="noopener noreferrer" title="TÜBİT" >
            <Image src={tubitLogo} alt="TÜBİT" class="w-[100px] h-[60px]"/>
        </a>
        <NavHamburgerOpenBtn/>
    </div>
    <NavHamburgerMenu />
</nav>
