<button
    class="lg:hidden flex items-center justify-center w-[60px] h-[60px]"
    data-drawer-hide="hamburger-menu"
    type="button"
    aria-label="Menüyü Kapat"
    aria-controls="hamburger-menu"
>
    <svg class="w-8 h-8 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" >
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 18 6m0 12L6 6"></path>
    </svg>
</button>
