---
interface Props {
    title: string;
    href?: string;
}

const { title, href } = Astro.props;
---

<section id={href} class="mt-24 lg:mt-44 md:mx-12">
    <h1 class="mt-10 pb-10 text-4xl text-center md:text-5xl px-14">{title}</h1>
    <slot />
</section>
