---
import { Image } from "astro:assets"
import bizLogo from "../media/images/website/biz-logo.svg"
---
<section class="relative flex flex-col items-center justify-around grow">
    <div class="flex flex-col items-center">
        <Image
            src={bizLogo}
            alt="BİZ24 Logo"
            class="w-[230px] h-[100px] mb-[60px]"
            loading={"eager"}
        />
        <div class="flex mb-5">
            <svg class="w-8 h-8 text-white md:w-12 md:h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" >
                <path fill-rule="evenodd" d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z" clip-rule="evenodd"></path>
            </svg>
            <h1 class="ml-2 mr-5 text-2xl sm:text-3xl md:text-5xl">
                14.05.2024
            </h1>
            <svg class="w-8 h-8 text-white md:w-12 md:h-12" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24" >
                <path fill-rule="evenodd" d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z" clip-rule="evenodd"></path>
            </svg>
            <h1 class="ml-2 text-2xl sm:text-3xl md:text-5xl">10.00</h1>
        </div>
        <h1 class="text-3xl md:text-5xl" id="eventCountdownTitle">
            Etkinliğe Kalan
        </h1>
        <div class="flex flex-row items-center px-4" id="eventCountdown">
            <div class="flex flex-col">
                <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownDay" > 00 </p>
                <p class="text-xs text-center md:text-2xl">Gün</p>
            </div>
            <p class="mx-2 text-3xl text-center sm:text-4xl md:text-6xl md:mx-4" > : </p>
            <div class="flex flex-col">
                <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownHour" > 00 </p>
                <p class="text-xs text-center md:text-2xl">Saat</p>
            </div>
            <p class="mx-2 text-3xl text-center sm:text-4xl md:text-6xl md:mx-4" > : </p>
            <div class="flex flex-col">
                <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownMinute" > 00 </p>
                <p class="text-xs text-center md:text-2xl">Dakika</p>
            </div>
            <p class="mx-2 text-3xl text-center sm:text-4xl md:text-6xl md:mx-4" > : </p>
            <div class="flex flex-col">
                <p class="text-5xl text-center sm:text-6xl md:text-8xl md:mr-2" id="eventCountdownSecond" > 00 </p>
                <p class="text-xs text-center md:text-2xl">Saniye</p>
            </div>
        </div>
    </div>
    <a
        class="relative flex flex-col items-center transition duration-200 ease-in-out justify-evenly"
        href="#duyurular"
        aria-label="Sayfanın içeriğine git"
        id="scroll-down-indicator"
    >
        <p class="mb-4 text-sm lg:invisible animate-pulse">
            Daha fazlası için kaydır
        </p>
        <svg class="h-auto w-9 animate-bounce" width="114.42" height="61.12" viewBox="0 0 30.27 16.17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" >
            <path style="fill:none;stroke:#fff;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1" d="m92.12 151.59 14.1 13.98 14.17-14.17" transform="translate(-91.12 -150.4)"></path>
        </svg>
    </a>
</section>

<script is:inline>
    let countDownDate = new Date("May 14, 2024 10:00:00").getTime();

    let x = setInterval(function() {

    let now = new Date().getTime();

    let distance = countDownDate - now;

    let days = Math.floor(distance / (1000 * 60 * 60 * 24));
    let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("eventCountdownDay").innerHTML = days.toString().padStart(2,0);
    document.getElementById("eventCountdownHour").innerHTML = hours.toString().padStart(2,0);
    document.getElementById("eventCountdownMinute").innerHTML = minutes.toString().padStart(2,0);
    document.getElementById("eventCountdownSecond").innerHTML = seconds.toString().padStart(2,0);

    if (distance < 0) {
        clearInterval(x);
        document.getElementById("eventCountdownTitle").innerHTML = "Etkinlik Başladı!";
        document.getElementById("eventCountdown").classList.add("hidden");
    }
    }, 1000);
</script>