---
import { Image } from "astro:assets";

interface Props {
    name: string;
    desc: string;
    src: ImageMetadata;
}

const { name, desc, src } = Astro.props;
---

<div class="m-5 md:max-lg:m-10 lg:m-24">
    <Image
        src={src}
        alt={name}
        class="w-[150px] h-[150px] rounded-full mb-4 outline outline-stone-500 outline-width-4 outline-offset-[-1px]"
    />
    <p class="text-center max-w-[150px]">{name}<br />{desc}</p>
</div>
